<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

    <extensions>
        <add assembly="NLog.Mongo"/>
    </extensions>
    <targets>
        <target xsi:type="Mongo"
                name="mongoDB"
                connectionString="mongodb://user:pass@url:27017"
                databaseName="AuctionLogs"
                collectionName="logs">
            <field name="Timestamp" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffffffZ}" />
            <!--Timestamp withyour system time and date -->
            <!-- <field name="Timestamp" layout="${date:universalTime=false:format=yyyy-MM-ddTHH\:mm\:ss.fffffff}" /> -->
            <field name="Level" layout="${level}" />
            <field name="Logger" layout="${logger}" />
            <field name="Message" layout="${message}" />
            <field name="Exception" layout="${exception:format=ToString}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="${configsetting:name=Logging.MinLevel}" writeTo="mongoDB"/>
    </rules>
</nlog>