/* Spinner */
td.image-container-home {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

td.image-container-home .image-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container-details {
    position: relative;  /* Ensure spinner stays within this container */
    width: 300px; /* width of the image */
    height: 300px; /* height of the image */
}

.image-container-details .image-spinner, .image-spinner-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;  /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


.loading-image {
    width: 100%;
    height: 100%;
    display: block;
    visibility: hidden; /* Hide the image initially and let it appear once loaded */
}

.image-spinner-home {
    width: 150px;
    height: 150px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;  /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}