@{
    var actionName = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
}

<h2><br/></h2>

<label><b>Manage</b></label>
<div class="list-group" name="UserNav">
    <a asp-controller="User" class="list-group-item list-group-item-action @(actionName == "Profile" ? "active" : "")" asp-action="Profile">
        Profile
    </a>
    <a class="list-group-item list-group-item-action @(actionName == "Wallet" ? "active" : "")" asp-action="Wallet">
        Wallet
    </a>
    <a class="list-group-item list-group-item-action @(actionName == "Products" ? "active" : "")" asp-action="Products">
        Products
    </a>
    <a class="list-group-item list-group-item-action @(actionName == "Bids" ? "active" : "")" asp-action="Bids">
        Bids
    </a>
</div>