@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "User Profile Management";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_UserNav")
        </div>
        <div class="col-md-8 border-left">
            <h2>Products</h2>
            
        </div>
    </div>
</div>