@model auction.Models.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile Management";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_UserNav")
        </div>
        <div class="col-md-8 border-left">
            <h2>User Profile</h2>
            <form asp-action="Profile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="UserName">User Name</label>
                    <input readonly asp-for="UserName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input readonly asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input readonly asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input readonly asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Image">Upload Profile Photo</label>
                    <input type="file" class="form-control" asp-for="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>